swagger: '2.0'
info:
  version: 0.2.0
  title: 大学生兼职测试api
  description: 本api只用来给app进行测试用
host: api.frezc.com
basePath: /
schemes:
  - http
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /auth:
    post:
      description: |
        登陆，返回用户基本信息和验证TOKEN
      parameters:
        - name: email
          in: formData
          description: 用户邮箱
          required: true
          type: string
        - name: password
          in: formData
          description: 密码
          required: true
          type: string
          format: password
      responses:
        '200':
          description: 登陆成功
          schema:
            $ref: '#/definitions/Auth'
        default:
          description: 登陆失败
          schema:
            $ref: '#/definitions/ErrorModel'
  '/user/{id}':
    get:
      description: 得到某个用户的信息
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: 找到用户
          schema:
            $ref: '#/definitions/User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /avatar:
    post:
      description: 更新用户头像
      parameters:
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
        - name: avatar
          in: formData
          description: 简历的照片文件
          required: true
          type: string
          format: byte
      responses:
        '200':
          description: 修改成功,返回头像的url
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume:
    get:
      description: 得到某份简历
      parameters:
        - name: id
          in: query
          description: 简历id
          required: false
          type: integer
          format: int64
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
      responses:
        '200':
          description: 简历详情
          schema:
            type: array
            items:
              $ref: '#/definitions/Resume'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
    delete:
      description: 删除简历
      parameters:
        - name: id
          in: query
          description: 简历id
          required: true
          type: integer
          format: int64
        - name: token
          in: query
          description: 登陆获得的token
          required: true
          type: string
      responses:
        '200':
          description: deleted
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
    post:
      description: 添加简历
      consumes:
        - application/x-www-form-urlencoded
        - multipart/form-data
      parameters:
        - name: name
          in: formData
          description: 简历里的姓名
          required: true
          type: string
        - name: school
          in: formData
          description: 学校
          required: false
          type: string
        - name: introduction
          in: formData
          description: 简介
          required: false
          type: string
        - name: photo
          in: formData
          description: 简历的照片文件
          required: false
          type: string
          format: byte
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
      responses:
        '201':
          description: resume created
          schema:
            $ref: '#/definitions/Resume'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /job:
    get:
      description: 查找岗位
      parameters:
        - name: id
          in: query
          description: 岗位id
          required: false
          type: integer
          format: int64
        - name: q
          in: query
          description: 关键字
          required: false
          type: string
        - name: offset
          in: query
          description: 查找结果的偏移量（用来分页）
          required: false
          type: integer
          format: int32
        - name: max_result
          in: query
          description: 最多返回的结果
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: '返回搜索的所有岗位(如果确定了id,则无视其他参数)'
          schema:
            type: array
            items:
              $ref: '#/definitions/Job'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /company:
    get:
      description: 公司信息
      parameters:
        - name: id
          in: query
          description: 岗位id
          required: false
          type: integer
          format: int64
        - name: q
          in: query
          description: 关键字
          required: false
          type: string
        - name: offset
          in: query
          description: 查找结果的偏移量（用来分页）
          required: false
          type: integer
          format: int32
        - name: max_result
          in: query
          description: 最多返回的结果
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: '返回搜索的所有公司信息(如果确定了id,则无视其他参数)'
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
definitions:
  User:
    type: object
    required:
      - email
      - id
      - nickname
    properties:
      id:
        type: integer
        format: int64
      email:
        type: string
        format: email
      nickname:
        type: string
      avatar:
        type: string
      sign:
        type: string
      birthday: 
        type: string
        format: date
      location:
        type: string
      sex: 
        type: integer
      contact:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Auth:
    type: object
    properties:
      user:
        $ref: '#/definitions/User'
      token:
        type: string
  Resume:
    type: object
    required:
      - id
      - user_id
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      name:
        type: string
      photo:
        type: string
      school:
        type: string
      introduction:
        type: string
      create_time:
        type: string
        format: date
      birth_day:
        type: string
        format: date
      location:
        type: string
      sex:
        type: integer
        format: int32
      contact:
        type: string
  NewResume:
    type: object
    required:
      - user_id
      - name
    properties:
      user_id:
        type: integer
        format: int64
      name:
        type: string
      photo:
        type: string
      school:
        type: string
      introduction:
        type: string
  Job:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      salary:
        type: string
      description:
        type: string
      company_id:
        type: integer
        format: int64
      company_name:
        type: string
      create_time:
        type: string
        format: date
  Company:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      url:
        type: string
      address:
        type: string
      logo:
        type: string
      description:
        type: string
      leader:
        type: string
  ErrorModel:
    type: object
    properties:
      status_code:
        type: integer
        format: int32
      message:
        type: string
      error:
        type: string
