swagger: '2.0'
info:
  version: 0.6.2
  title: 大学生兼职测试api
  description: 本api只用来给app进行测试用
host: tjz.frezc.com
basePath: /
schemes:
  - http
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /auth:
    post:
      description: |
        登陆，返回用户基本信息和验证TOKEN，注意邮箱需要验证后才能使用
      parameters:
        - name: email
          in: formData
          description: 用户邮箱
          required: true
          type: string
        - name: password
          in: formData
          description: 密码
          required: true
          type: string
          format: password
      responses:
        '200':
          description: 登陆成功
          schema:
            $ref: '#/definitions/Auth'
        default:
          description: 登陆失败, 邮箱未验证 状态码430
          schema:
            $ref: '#/definitions/ErrorModel'
  /authPhone:
    post:
      description: |
        登陆，返回用户基本信息和验证TOKEN, 通过手机号登陆，不需要验证邮箱
      parameters:
        - name: phone
          in: formData
          description: 用户手机号
          required: true
          type: string
        - name: password
          in: formData
          description: 密码
          required: true
          type: string
          format: password
      responses:
        '200':
          description: 登陆成功
          schema:
            $ref: '#/definitions/Auth'
        default:
          description: 登陆失败
          schema:
            $ref: '#/definitions/ErrorModel'
  /refresh:
    get:
      description: token有时效性所以要定时刷新token
      parameters:
        - name: token
          in: query
          description: 旧token，刷新后就不再使用了
          required: true
          type: string
      responses:
        '200':
          headers:
            Authorization:
              description: 返回的新token，格式为 Bearer {NEWTOKEN}
              type: string
          description: 返回新token
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /register:
    post:
      description: 注册的api
      parameters:
        - name: email
          in: formData
          description: 用户email
          required: true
          type: string
        - name: password
          in: formData
          description: 用户密码，6~32位
          required: true
          type: string
          format: password
        - name: nickname
          in: formData
          description: 用户名，1~16位
          required: true
          type: string
      responses:
        '200':
          description: 注册成功(未验证)
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /registerByPhone:
    post:
      description: 使用手机号注册的api
      parameters:
        - name: phone
          in: formData
          description: 用户手机号
          required: true
          type: string
        - name: password
          in: formData
          description: 用户密码，6~32位
          required: true
          type: string
          format: password
        - name: nickname
          in: formData
          description: 用户名，1~16位
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 短信获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 注册成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:手机号与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /resetPassword:
    post:
      description: 重置密码，需要绑定手机
      parameters:
        - name: phone
          in: formData
          description: 手机号
          required: true
          type: string
        - name: password
          in: formData
          description: 用户密码，6~32位
          required: true
          type: string
          format: password
        - name: verification_code
          in: formData
          description: 短信获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 密码重置成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:手机号与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /getSmsCode:
    get:
      description: 得到手机验证码，一小时有效，一个手机号获取间隔至少1分钟，一天只能获得5次
      parameters:
        - name: phone
          in: query
          description: 手机号
          required: true
          type: string
      responses:
        '200':
          description: 获取成功，验证码会在几秒后发送到手机
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /bindPhone:
    post:
      description: 绑定手机
      parameters:
        - name: phone
          in: formData
          description: 用户手机号
          required: true
          type: string
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 短信获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 绑定成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:手机号与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /sendVerifyEmail:
    post:
      description: 发送验证邮件
      parameters:
        - name: email
          in: formData
          description: 邮箱
          required: true
          type: string
      responses:
        '200':
          description: 获取成功，邮件将会发送到你的邮箱
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /verifyEmail:
    post:
      description: 验证邮箱
      parameters:
        - name: email
          in: formData
          description: 邮箱
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 验证码
          required: true
          type: string
      responses:
        '200':
          description: 验证成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:邮箱与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /bindEmail:
    post:
      description: 绑定邮箱
      parameters:
        - name: email
          in: formData
          description: 用户邮箱
          required: true
          type: string
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 邮箱获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 绑定成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:邮箱与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  '/user/{id}':
    get:
      description: 得到某个用户的信息
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: 找到用户
          schema:
            $ref: '#/definitions/User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /user/update:
    post:
      description: 更新用户信息
      parameters:
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
        - name: nickname
          in: formData
          description: 用户名
          required: false
          type: string
        - name: sex
          in: formData
          description: 0:男(default) 1:女
          required: false
          type: integer
        - name: sign
          in: formData
          description: 个性签名
          required: false
          type: string
        - name: birthday
          in: formData
          description: 生日
          required: false
          type: string
          format: date
        - name: location
          in: formData
          description: 所在地
          required: false
          type: string
        - name: phone
          in: formData
          description: 生日
          required: false
          type: string
      responses:
        '200':
          description: 更新成功
          schema:
            $ref: '#/definitions/User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /avatar:
    post:
      description: 更新用户头像
      parameters:
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
        - name: avatar
          in: formData
          description: 头像文件
          required: true
          type: string
          format: byte
      responses:
        '200':
          description: '修改成功,返回头像的url'
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume:
    get:
      description: 得到某份简历
      parameters:
        - name: id
          in: query
          description: 简历id
          required: false
          type: integer
          format: int64
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
      responses:
        '200':
          description: 简历详情
          schema:
            type: array
            items:
              $ref: '#/definitions/Resume'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume/photo:
    get:
      description: 得到简历的照片(需要登陆验证)
      parameters:
        - name: id
          in: query
          description: 简历id
          required: true
          type: integer
          format: int64
        - name: token
          in: query
          description: 登陆得到的token
          required: true
          type: string
      responses:
        '200':
          description: 照片文件
          schema:
            type: string
            format: byte
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume/delete:
    post:
      description: 删除简历
      parameters:
        - name: id
          in: query
          description: 简历id
          required: true
          type: integer
          format: int64
        - name: token
          in: query
          description: 登陆获得的token
          required: true
          type: string
      responses:
        '200':
          description: deleted
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume/add:
    post:
      description: 添加简历
      consumes:
        - multipart/form-data
      parameters:
        - name: title
          in: formData
          description: 简历标题
          required: true
          type: string
        - name: name
          in: formData
          description: 简历里的姓名
          required: true
          type: string
        - name: school
          in: formData
          description: 学校
          required: false
          type: string
        - name: introduction
          in: formData
          description: 简介
          required: false
          type: string
        - name: photo
          in: formData
          description: 简历的照片文件
          required: false
          type: string
          format: byte
        - name: birthday
          in: formData
          description: 生日
          required: false
          type: string
          format: date
        - name: contact
          in: formData
          description: 联系方式
          required: false
          type: string
        - name: expect_location
          in: formData
          description: 期望工作地点
          required: false
          type: string
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
      responses:
        '201':
          description: resume created
          schema:
            $ref: '#/definitions/Resume'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume/update:
    post:
      description: 修改简历
      consumes:
        - multipart/form-data
      parameters:
        - name: title
          in: formData
          description: 简历标题
          required: false
          type: string
        - name: name
          in: formData
          description: 简历里的姓名
          required: false
          type: string
        - name: school
          in: formData
          description: 学校
          required: false
          type: string
        - name: introduction
          in: formData
          description: 简介
          required: false
          type: string
        - name: photo
          in: formData
          description: 简历的照片文件
          required: false
          type: string
          format: byte
        - name: birthday
          in: formData
          description: 生日
          required: false
          type: string
          format: date
        - name: contact
          in: formData
          description: 联系方式
          required: false
          type: string
        - name: expect_location
          in: formData
          description: 期望工作地点
          required: false
          type: string
        - name: id
          description: 要修改简历的id
          in: query
          required: true
          type: integer
          format: int64
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
      responses:
        '200':
          description: resume updated
          schema:
            $ref: '#/definitions/Resume'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /resume/public:
    post:
      description: 发布简历，可以让其他人搜到
      parameters:
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
        - name: resume_id
          in: formData
          description: 简历的id
          required: true
          type: integer
          format: int64
        - name: available_time
          in: formData
          description: 可以接受的时间，默认为用户的所有空闲时间
          required: false
          type: string
      responses:
        '200':
          description: 发布成功
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  '/job/{id}':
    get:
      description: 查找岗位
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: 返回岗位详情
          schema:
            $ref: '#/definitions/Job'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /job/query:
    get:
      description: 查找岗位
      parameters:
        - name: q
          in: query
          description: 关键字(用空格分开)
          required: true
          type: string
        - name: orderby
          in: query
          description: '按某列进行排序(id, created_at, number), 默认id'
          required: false
          type: string
        - name: direction
          in: query
          description: "升序('asc')or降序('desc'), 默认升序"
          required: false
          type: string
        - name: offset
          in: query
          description: 查找结果的偏移量（用来分页）
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: 最多返回的结果
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: 返回搜索的所有岗位
          schema:
            type: array
            items:
              $ref: '#/definitions/Job'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /job/apply:
    get:
      description: 申请中的岗位
      parameters:
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
        - name: status
          in: query
          description: 根据申请状态进行筛选(0:申请中，1:申请成功，2:申请失败，该项为空或其他参数表示不筛选)
          required: false
          type: integer
        - name: direction
          in: query
          description: "按时间升序('asc')or降序('desc'), 默认升序"
          required: false
          type: string
        - name: offset
          in: query
          description: 查找结果的偏移量（用来分页）
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: 最多返回的结果
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: 返回搜索的所有岗位申请
          schema:
            type: array
            items:
              $ref: '#/definitions/JobApply'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
    post:
      description: 创建申请
      parameters:
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
        - name: job_id
          in: formData
          description: 申请的岗位id
          required: true
          type: integer
          format: int64
        - name: resume_id
          in: formData
          description: 使用的简历id
          required: true
          type: integer
          format: int64
        - name: description
          in: formData
          description: 申请时的描述
          required: false
          type: string
      responses:
        '200':
          description: 申请成功
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /job/completed:
    get:
      description: 已完成的工作
      parameters:
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
        - name: is_evaluated
          in: query
          description: 是否已评价(0:未评价, 1:已评价)
          required: false
          type: integer
        - name: direction
          in: query
          description: "按时间升序('asc')or降序('desc'), 默认升序"
          required: false
          type: string
        - name: offset
          in: query
          description: 查找结果的偏移量（用来分页）
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: 最多返回的结果
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: 返回搜索的所有已完成岗位
          schema:
            type: array
            items:
              $ref: '#/definitions/JobCompleted'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /job/evaluate:
    get: 
      description: 得到岗位的评价
      parameters:
        - name: job_id
          in: query
          description: 岗位id
          required: true
          type: integer
        - name: offset
          in: query
          description: 查找结果的偏移量（用来分页）
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: 最多返回的结果
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: 查找到的评价
          schema:
            type: array
            items:
              $ref: '#/definitions/Evaluate'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
    post:
      description: 评价岗位
      parameters:
        - name: token
          in: query
          description: 登陆获得的auth token
          required: true
          type: string
        - name: job_completed_id
          in: query
          description: 完成的工作id
          required: true
          type: integer
        - name: score
          in: formData
          description: 评分(0~5)
          required: true
          type: integer
        - name: comment
          in: formData
          description: 评论
          required: false
          type: string
      responses:
        '200':
          description: 评价成功
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      
  '/company/{id}':
    get:
      description: 公司信息
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: 返回公司的详情信息
          schema:
            $ref: '#/definitions/Company'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /company/query:
    get:
      description: 搜索公司
      parameters:
        - name: q
          in: query
          description: 关键字(用空格分开)
          required: true
          type: string
        - name: orderby
          in: query
          description: '按某列进行排序(id, created_at), 默认id'
          required: false
          type: string
        - name: direction
          in: query
          description: "升序('asc')or降序('desc'), 默认升序"
          required: false
          type: string
        - name: offset
          in: query
          description: '查找结果的偏移量(用来分页),'
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: 最多返回的结果
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: 返回搜索的所有公司信息
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      email:
        type: string
        format: email
      nickname:
        type: string
      avatar:
        type: string
      sign:
        type: string
      birthday:
        type: string
        format: date
      location:
        type: string
      sex:
        type: integer
      phone:
        type: string
      company_id:
        type: integer
      email_verified:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Auth:
    type: object
    properties:
      user:
        $ref: '#/definitions/User'
      token:
        type: string
  Resume:
    type: object
    required:
      - id
      - user_id
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      name:
        type: string
      photo:
        type: string
      school:
        type: string
      introduction:
        type: string
      create_time:
        type: string
        format: date
      birth_day:
        type: string
        format: date
      location:
        type: string
      sex:
        type: integer
        format: int32
      contact:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Job:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      salary:
        type: string
      description:
        type: string
      number:
        type: integer
      number_applied:
        type: integer
      visited:
        type: integer
      number_evaluate:
        type: integer
      average_score:
        type: integer
      time:
        type: array
        items:
          $ref: '#/definitions/JobTime'
      company_id:
        type: integer
        format: int64
      company_name:
        type: string
      active:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  JobTime:
    type: object
    properties:
      id:
        type: integer
      job_id:
        type: integer
      year:
        type: integer
      month:
        type: integer
      dayS:
        type: integer
      dayE:
        type: integer
      hourS:
        type: integer
      hourE:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  JobApply:
    type: object
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      job_id:
        type: integer
        format: int64
      job_name:
        type: string
      resume_id:
        type: integer
        format: int64
      resume_name:
        type: string
      description:
        type: string
      status:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  JobCompleted:
    type: object
    properties:
      id:
        type: integer
        format: int64
      user_id:
        type: integer
        format: int64
      job_id:
        type: integer
        format: int64
      job_name:
        type: string
      resume_id:
        type: integer
        format: int64
      resume_name:
        type: string
      description:
        type: string
      is_evaluated:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Evaluate:
    type: object
    properties:
      score:
        type: integer
      comment: 
        type: string
      user_id: 
        type: integer
      user_nickname:
        type: string
      user_avatar:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Company:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      url:
        type: string
      address:
        type: string
      logo:
        type: string
      description:
        type: string
      leader:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  ErrorModel:
    type: object
    properties:
      status_code:
        type: integer
        format: int32
      message:
        type: string
      error:
        type: string
